<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <title>Hint page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link href="/static/css/footer.css" type="text/css" rel="stylesheet">
        <link href="/static/css/userhomepage.css" type="text/css" rel="stylesheet">
       <meta http-equiv="refresh" content="10">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

          <script type="text/javascript">
          $(document).ready(function() {
    // timer function
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        var refresh = setInterval(function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            var output = minutes + " : " + seconds;
            display.text(output);
            $("title").html(output + " - TimerTimer");



            if (--timer < 0) {
                //display.text("Time's Up!");
                clearInterval(refresh);  // exit refresh loop
            }


        }, 1000);

    }

    // start timer
    jQuery(function ($) {
        var display = $('#time');
        startTimer(Seconds, display);
    });
})


// ====================================== DIV Contents Update Section ========================================//

    // Refresh part of page not all


$(document).ready(function(){
setInterval(function(){
      $("#tablediv").load(window.location.href + "#tablediv" );
}, 10000);
});






$(document).ready(function(){
setInterval(function(){
      $("#names").load(window.location.href + "#names" );
}, 10000);
});


$(document).ready(function(){
setInterval(function(){
      $("#namess").load(window.location.href + "#namess" );
}, 10000);
});



$(document).ready(function(){
setInterval(function(){
      $("#studentanswer").load(window.location.href + "#studentanswer" );
}, 10000);
});


$(document).ready(function(){
setInterval(function(){
      $("#namediv").load(window.location.href + "#namediv" );
}, 10000);
});


$(document).ready(function(){
setInterval(function(){
      $("#teachnamediv").load(window.location.href + "#teachnamediv" );
}, 10000);
});



$(document).ready(function(){
setInterval(function(){
      $("#adminhints").load(window.location.href + "#adminhints" );
}, 10000);
});





$(document).ready(function(){
setInterval(function(){
      $("#teacherQuestion").load(window.location.href + "#teacherQuestion" );
}, 10000);
});




$(document).ready(function(){
setInterval(function(){
      $("#grades").load(window.location.href + "#grades" );
}, 10000);
});



$(document).ready(function(){
setInterval(function(){
      $("#totalgrades").load(window.location.href + "#totalgrades" );
}, 10000);
});



$(document).ready(function(){
setInterval(function(){
      $("#averagegrades").load(window.location.href + "#averagegrades" );
}, 10000);
});


$(document).ready(function(){
setInterval(function(){
      $("#teQuestion").load(window.location.href + "#teQuestion" );
}, 10000);
});


$(document).ready(function(){
setInterval(function(){
      $("#studanswer").load(window.location.href + "#studanswer" );
}, 10000);
});


$(document).ready(function(){
setInterval(function(){
      $("#hintadmin").load(window.location.href + "#hintadmin" );
}, 10000);
});


      </script>

<style>
    body{
        background: url(https://placeimg.com/img/bg-2.svg) repeat;
    }
</style>


  </head>
  <body>

    <!-- NAVIGATION  -->
   <nav class="navbar navbar-expand-lg navbar-dark navbar-light badge-dark " style="background-color:#04091e;">
        <div class=" conatainer-fluid" style="background-color:seagreen;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item p-4">
                    <a class="nav-link active" href="/admin0" style="color: lightblue;">admin page <span class="sr-only">(current)</span></a>
                </li>


            </ul>
        </div>
    </nav>



      <!-- THIS FORM TO SEARCH FOR MAGNITUDE -->
	<div class="row justify-content-center">
        <h4 class="h4"><i>Teacher Question: <br> <br></i><span style="color: #9900cc" id="hintadmin">{{teacher_question}}</span></h4>
    </div>
<hr>

   <div class="row justify-content-center">
        <h4 class="h4"><i>Student need Help For this Question: <br> <br></i><span style="color: #9900cc;text-align: center" id="hintadmin">{{need_help_option}}</span></h4>
    </div>


  <br>

   <div class="row justify-content-center" style="margin-top: 5%">
                        <div class="col-12 col-md-10 col-lg-6" style="background-color: #dad8d8">
                            <form  method="POST" action="/hint">

                               <label for="exampleInputPassword1" class="form-label"><b style="color: blue;font-size: larger;"> Answer The Question:</b></label>
                                <br>
                               <textarea class="form-control" id="exampleInputPassword1" cols="40" rows="2" style="border:solid 1px black;"  name="answer" required placeholder="write something"></textarea>
                                    <br>
                                 <div class="col-auto">
                                        <button class="btn btn-outline-primary" type="submit" name="submit" value="form1">Send a Hint</button>
                                 </div>
                                <hr>
                            </form>
                         </div>
   </div>



  </body>
</html>
