<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <title>Student Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link href="/static/css/footer.css" type="text/css" rel="stylesheet">
        <link href="/static/css/userhomepage.css" type="text/css" rel="stylesheet">
        <meta http-equiv="refresh" content="10">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        <script type="text/javascript">
          $(document).ready(function() {
    // timer function
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        var refresh = setInterval(function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            var output = minutes + " : " + seconds;
            display.text(output);
            $("title").html(output + " - TimerTimer");



            if (--timer < 0) {
                //display.text("Time's Up!");
                clearInterval(refresh);  // exit refresh loop
            }


        }, 1000);

    }

    // start timer
    jQuery(function ($) {
        var display = $('#time');
        startTimer(Seconds, display);
    });
})


// ====================================== DIV Contents Update Section ========================================//

    // Refresh part of page not all


$(document).ready(function(){
setInterval(function(){
      $("#tablediv").load(window.location.href + "#tablediv" );
}, 10000);
});






$(document).ready(function(){
setInterval(function(){
      $("#names").load(window.location.href + "#names" );
}, 10000);
});


$(document).ready(function(){
setInterval(function(){
      $("#namess").load(window.location.href + "#namess" );
}, 10000);
});



$(document).ready(function(){
setInterval(function(){
      $("#studentanswer").load(window.location.href + "#studentanswer" );
}, 10000);
});


$(document).ready(function(){
setInterval(function(){
      $("#namediv").load(window.location.href + "#namediv" );
}, 10000);
});


$(document).ready(function(){
setInterval(function(){
      $("#teachnamediv").load(window.location.href + "#teachnamediv" );
}, 10000);
});



$(document).ready(function(){
setInterval(function(){
      $("#adminhints").load(window.location.href + "#adminhints" );
}, 10000);
});





$(document).ready(function(){
setInterval(function(){
      $("#teacherQuestion").load(window.location.href + "#teacherQuestion" );
}, 10000);
});




$(document).ready(function(){
setInterval(function(){
      $("#grades").load(window.location.href + "#grades" );
}, 10000);
});



$(document).ready(function(){
setInterval(function(){
      $("#totalgrades").load(window.location.href + "#totalgrades" );
}, 10000);
});



$(document).ready(function(){
setInterval(function(){
      $("#averagegrades").load(window.location.href + "#averagegrades" );
}, 10000);
});


$(document).ready(function(){
setInterval(function(){
      $("#teQuestion").load(window.location.href + "#teQuestion" );
}, 10000);
});


$(document).ready(function(){
setInterval(function(){
      $("#studanswer").load(window.location.href + "#studanswer" );
}, 10000);
});


      </script>

<style>
    body{
        background: url(https://placeimg.com/img/bg-2.svg);
    }
</style>

  </head>
  <body>

    <!-- NAVIGATION  -->
   <nav class="navbar navbar-expand-lg navbar-dark navbar-light badge-dark " style="background-color:#04091e;">
        <div class=" conatainer-fluid" style="background-color:seagreen;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item p-4">
                    <a class="nav-link active" href="/home" style="color: lightblue;">Home page <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item p-4">
                    <a class="nav-link active" href="/stopApp" style="color: lightblue;">Leave App <span class="sr-only"></span></a>
                </li>

            </ul>
        </div>
    </nav>







<div class="container-fluid">
 <div class="coloumn" >
    <h5 class="h5" style="text-align: left;color: #000000">&#128102; Student name: <span style="color:blue; font-family: Arial" id="namediv">{{student_name}}</span> </h5>
    <h5 class="h5" style="text-align: left;color: #000000">&#128116; Teacher name: <span style="color:blue; font-family: Arial" id="teachnamediv">{{teacher_name}}</span> </h5>
     <br>
</div>
</div>
<hr>





<div class="container-fluid" >
    <h4 class="h4" style="text-align: left; color: black">The Question is :<span style="color: RED"id="teacherQuestion"> {{teacher_question}}</span></h4>
           <hr>
        <h5 class="h5" style="text-align: left">&#128104; Admin Hints &#128073; <span style="color: red"id="adminhints"> {{admin_hint}}</span></h5>


</div>
 <hr>



      <!-- THIS FORM TO SEARCH FOR MAGNITUDE -->
                        <div class="row justify-content-around">
                        <div class="col-12 col-md-10 col-lg-6" style="background-color: #dad8d8;border-radius: 15px 50px; box-shadow: 10px 10px 5px #6059f6;">
                            <form  method="POST" action="/student">

                               <label for="exampleInputPassword1" class="form-label"><i style="color: blue;font-size: larger;"> Answer The Question:</i></label>
                                <br>
                               <textarea class="form-control" id="exampleInputPassword1" cols="30" rows="2" style="border:solid 1px black;"  name="answer" required placeholder="write something"></textarea>
                                <br>
                                 <div class="col-auto">
                                        <button class="btn btn-outline-primary" type="submit" name="submit" value="form1" onClick="window.location.reload();">Send</button>
                                     <br>
                                 </div>

                            </form>

                            <hr>


                            <form method="post" action="/student">
                                <label for="select" style="color: blue"><i>Select if need Hint or Not</i></label><br>

                                <select name="option" required id="select">
                                    <option>Select an option</option>
                                    <option value="no">NO</option>
                                    <option value="yes">YES</option>
                                </select>
                                <hr>
                                <div class="col-auto">
                                        <button class="btn btn-outline-info" type="submit" name="submit" value="form2" onClick="window.location.reload();">Need Hint</button>
                                     <br>
                                 </div>
                               <hr>
                            </form>

                        </div>
                        </div>


 <hr>



<div class="container-fluid"style="border: none " >
  <h5 class="h5" style="text-align: left;">You Get Grade: <i >{{currentGrade}} %</i></h5>
        <br>
         <h5 class="h5" style="text-align: left;">Your Total Grades: <i >{{total_grade}}</i></h5>
        <br>
  <h5 class="h5" style="text-align: left;">Your Average: <i >{{average}}</i></h5>

</div>


  <footer class="foot">
    <div class="container-fluid foot_div">
        <p class="h6 foot_text">Copyright &copy;2021 All rights reserved | This template is made with &#x1F498;by <span id="name">Aiman Abdullah</span> </p>
    </div>


</footer>
  </body>
</html>
