autocorrect==2.4.0
awsebcli==3.19.4
botocore==1.20.50
cement==2.8.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.3
Cython==0.29.21
Flask==1.1.2
Flask-MySQLdb==0.2.0
fpdf==1.7.2
future==0.16.0
gensim==4.0.1
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
MarkupSafe==1.1.1
mysql-connector-python==8.0.23
mysqlclient==2.0.3
nltk==3.6.1
numpy==1.20.2
pandas==1.1.5
passlib==1.7.4
pathspec==0.5.9
protobuf==3.15.8
PyMySQL==1.0.2
pyspellchecker==0.6.2
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.3.1
redis==3.5.3
regex==2021.4.4
requests==2.25.1
scipy==1.6.2
semantic-version==2.8.5
six==1.14.0
smart-open==5.0.0
StringGenerator==0.4.4
termcolor==1.1.0
tqdm==4.60.0
urllib3==1.25.11
wcwidth==0.1.9
Werkzeug==1.0.1
WTForms==2.3.3
