
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Home Page
    </title>
    <meta charset="utf-8" http-equiv="referesh">
    <!-- This line will give the instruction on how the browser control the page how suppose to show the content in Tablet, Phone-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="static/css/mijares.css" type="text/css" rel="stylesheet">
    <link href="static/css/responsive_setting.css" type="text/css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <!-- JS and jQuery -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <!-- <link href="css/login_form.css" rel="stylesheet" type="text/css"> -->
	<link href="static/css/userhomepage.css" rel="stylesheet" type="text/css">

</head>



<body>

<header>
       <nav class="navbar navbar-expand-lg navbar-dark navbar-light badge-dark " style="background-color:#04091e;">

        <div class="conatainer-fluid">
            <img id="logo" src="static/cloud-computing-502462262-5ac1130e119fa800371ba0a8.jpg" alt="Logo" class="navbar-brand">
        </div>

        <div class=" conatainer-fluid" style="background-color:seagreen;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
            </button>
        </div>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


            </ul>
			<ul class="navbar-nav">
			<li class="nav-item p-1">

<!--
<form>
  <div class="form-row align-items-center">
    <div class="col-sm-7 my-1">
      <label class="sr-only" for="inlineFormInputName">search</label>
      <input type="text" class="form-control" id="inlineFormInputName" placeholder="clubs/posts/etc">
    </div>


    <div class="col-auto my-1">
      <button type="submit" class="btn btn-info">Search</button>
    </div>
  </div>
</form>
-->
         </li>

			</ul>
            <canvas id="canvas" width="100" height="100">
            </canvas>

        </div>


    </nav>



</header>

<script>
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    var radius = canvas.height / 2;
    ctx.translate(radius, radius);
    radius = radius * 0.90
    setInterval(drawClock, 1000);

    function drawClock() {
        drawFace(ctx, radius);
        drawNumbers(ctx, radius);
        drawTime(ctx, radius);
    }

    function drawFace(ctx, radius) {
        var grad;
        ctx.beginPath();
        ctx.arc(0, 0, radius, 0, 2 * Math.PI);
        ctx.fillStyle = 'lightblue';
        ctx.fill();
        grad = ctx.createRadialGradient(0, 0, radius * 0.95, 0, 0, radius * 1.05);
        grad.addColorStop(0, '#333');
        grad.addColorStop(0.5, 'white');
        grad.addColorStop(1, '#333');
        ctx.strokeStyle = grad;
        ctx.lineWidth = radius * 0.1;
        ctx.stroke();
        ctx.beginPath();
        ctx.arc(0, 0, radius * 0.1, 0, 2 * Math.PI);
        ctx.fillStyle = '#333';
        ctx.fill();
    }

    function drawNumbers(ctx, radius) {
        var ang;
        var num;
        ctx.font = radius * 0.15 + "px arial";
        ctx.textBaseline = "middle";
        ctx.textAlign = "center";
        for (num = 1; num < 13; num++) {
            ang = num * Math.PI / 6;
            ctx.rotate(ang);
            ctx.translate(0, -radius * 0.85);
            ctx.rotate(-ang);
            ctx.fillText(num.toString(), 0, 0);
            ctx.rotate(ang);
            ctx.translate(0, radius * 0.85);
            ctx.rotate(-ang);
        }
    }

    function drawTime(ctx, radius) {
        var now = new Date();
        var hour = now.getHours();
        var minute = now.getMinutes();
        var second = now.getSeconds();
        //hour
        hour = hour % 12;
        hour = (hour * Math.PI / 6) +
            (minute * Math.PI / (6 * 60)) +
            (second * Math.PI / (360 * 60));
        drawHand(ctx, hour, radius * 0.5, radius * 0.07);
        //minute
        minute = (minute * Math.PI / 30) + (second * Math.PI / (30 * 60));
        drawHand(ctx, minute, radius * 0.8, radius * 0.07);
        // second
        second = (second * Math.PI / 30);
        drawHand(ctx, second, radius * 0.9, radius * 0.02);
    }

    function drawHand(ctx, pos, length, width) {
        ctx.beginPath();
        ctx.lineWidth = width;
        ctx.lineCap = "round";
        ctx.moveTo(0, 0);
        ctx.rotate(pos);
        ctx.lineTo(0, -length);
        ctx.stroke();
        ctx.rotate(-pos);
    }
</script>



<style>
.xx {
  display: inline-block;
  animation: weeee 6s linear infinite alternate;
}
@keyframes weeee {
   0% { color: red; }
  25% { color: blue; }
  50% { color: green; }
  75% { color: orange; }
 100% { transform: translateX(101%); color: purple; }
}

</style>

<div class="container-fluid" style="margin-top: 20px">
    <h2 class="h2 xx">WELCOME TO OUR SELLING ELECTRONIC PRODUCTS</h2>

</div>


<style>
    .sales{
background: url("/static/computers.jpg") no-repeat;
	background-position:center;
	background-size: 100% 100%;
    }

    .clubs{
        background: url("/static/phones.jpg") no-repeat;
	background-position:center;
	background-size: 100% 100%;
    }

    .exchange{
     	background: url("/static/tv.jpg") no-repeat;
	background-position:center;
	background-size: 100% 100%;
    }
    .messages{
        background: url("/static/watches.jpg") no-repeat;
	background-position:center;
	background-size: 100% 100%;
    }
    .advs{
        background: url("/static/headsets.jpg") no-repeat;
	background-position:center;
	background-size: 100% 100%;
    }
    .myprofile{
        background: url("/static/camera.jpg") no-repeat;
	background-position:center;
	background-size: 100% 100%;
    }
</style>




	<center>
	<div class="middlebody">
	<div class="container containerbox">
  <div class="row justify-content-around">
	  <div class="col mx-3 sales"><a class="linknodecoration" style= "color: black; text-decoration: none;" href= "/computer">computers</a></div>
    <div class="col mx-3 clubs"><a  class="linknodecoration" style= "color: black; text-decoration: none;" href="/phone">phones</a></div>

  </div>
</div>
	</div>
	</center>



<footer class="container-fluid foot">
<div class="container-fluid foot_div">
        <p class="h6 foot_text">This project is developed by <span id="name">Aiman Abdullah &#x1F498</span> </p>
 </div>

</footer>








</body>
</html>