<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <title>Main Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link href="/static/css/footer.css" type="text/css" rel="stylesheet">
        <link href="/static/css/userhomepage.css" type="text/css" rel="stylesheet">


<style>
   .form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

</style>



  </head>
  <body>

    <!-- NAVIGATION  -->
   <nav class="navbar navbar-expand-lg navbar-dark navbar-light badge-dark " style="background-color:#04091e;">
        <div class=" conatainer-fluid" style="background-color:seagreen;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item p-4">
                    <a class="nav-link active" href="/" style="color: lightblue;">CSV Page <span class="sr-only">(current)</span></a>
                </li>
<!--
                <li class="nav-item p-4">
                    <a class="nav-link" href="/gallery" style="color: lightblue;">GALLERY</a>
                </li>

-->
            </ul>
            <canvas id="canvas" width="100" height="100">
            </canvas>
        </div>
    </nav>
  <script>
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    var radius = canvas.height / 2;
    ctx.translate(radius, radius);
    radius = radius * 0.90
    setInterval(drawClock, 1000);

    function drawClock() {
        drawFace(ctx, radius);
        drawNumbers(ctx, radius);
        drawTime(ctx, radius);
    }

    function drawFace(ctx, radius) {
        var grad;
        ctx.beginPath();
        ctx.arc(0, 0, radius, 0, 2 * Math.PI);
        ctx.fillStyle = 'lightblue';
        ctx.fill();
        grad = ctx.createRadialGradient(0, 0, radius * 0.95, 0, 0, radius * 1.05);
        grad.addColorStop(0, '#333');
        grad.addColorStop(0.5, 'white');
        grad.addColorStop(1, '#333');
        ctx.strokeStyle = grad;
        ctx.lineWidth = radius * 0.1;
        ctx.stroke();
        ctx.beginPath();
        ctx.arc(0, 0, radius * 0.1, 0, 2 * Math.PI);
        ctx.fillStyle = '#333';
        ctx.fill();
    }

    function drawNumbers(ctx, radius) {
        var ang;
        var num;
        ctx.font = radius * 0.15 + "px arial";
        ctx.textBaseline = "middle";
        ctx.textAlign = "center";
        for (num = 1; num < 13; num++) {
            ang = num * Math.PI / 6;
            ctx.rotate(ang);
            ctx.translate(0, -radius * 0.85);
            ctx.rotate(-ang);
            ctx.fillText(num.toString(), 0, 0);
            ctx.rotate(ang);
            ctx.translate(0, radius * 0.85);
            ctx.rotate(-ang);
        }
    }

    function drawTime(ctx, radius) {
        var now = new Date();
        var hour = now.getHours();
        var minute = now.getMinutes();
        var second = now.getSeconds();
        //hour
        hour = hour % 12;
        hour = (hour * Math.PI / 6) +
            (minute * Math.PI / (6 * 60)) +
            (second * Math.PI / (360 * 60));
        drawHand(ctx, hour, radius * 0.5, radius * 0.07);
        //minute
        minute = (minute * Math.PI / 30) + (second * Math.PI / (30 * 60));
        drawHand(ctx, minute, radius * 0.8, radius * 0.07);
        // second
        second = (second * Math.PI / 30);
        drawHand(ctx, second, radius * 0.9, radius * 0.02);
    }

    function drawHand(ctx, pos, length, width) {
        ctx.beginPath();
        ctx.lineWidth = width;
        ctx.lineCap = "round";
        ctx.moveTo(0, 0);
        ctx.rotate(pos);
        ctx.lineTo(0, -length);
        ctx.stroke();
        ctx.rotate(-pos);
    }
</script>

<div class="container">
    <h3 class="h3" style="text-align: center; color: blue; font-style: italic; font-size: 50px">Name: Aiman Abdullah</h3>
     <h3 class="h3" style="text-align: center; color: Red;font-style: italic; font-size: 50px">ID: 1001472426</h3>
</div>



<center>
	<div class="middlebody">
	<div class="container containerbox">
  <div class="row justify-content-around">
	  <!-- <div class="col mx-3" style="background-color:lightskyblue"><a class="" style= "color: black; text-decoration: none;" href= "/magnitude">Search By Magnitude</a></div> -->
      <div class="col mx-3" style="background-color:khaki"><a class="" style= "color: black; text-decoration: none;" href= "/pie">pie chart</a></div>
        <div class="col mx-3" style="background-color:lightskyblue"><a class="" style= "color: black; text-decoration: none;" href= "/line_chart">Line Chart</a></div>
        <div class="col mx-3" style="background-color: aquamarine"><a  class="" style= "color: black; text-decoration: none;" href="/scatter_plot">Scatter chart</a></div>
       <div class="col mx-3" style="background-color: lightcoral"><a  class="" style= "color: black; text-decoration: none;" href="/bar_chart">Bar Chart</a></div>

  </div>
</div>
	</div>
	</center>



















<!--

 <div class="container"style="margin-top:100px; float:left" >
  <a href="/magnitude"><button type="button" class="btn btn-success btn-lg" name="login">Search By Magnitude</button></a>
</div>



<div class="container"style="margin-top:100px; float:left" >
  <a href="/magnitudeoneWeek"><button type="button" class="btn btn-success btn-lg" name="login">Search By Magnitude in one Week</button></a>
</div>



<div class="container"style="margin-top:100px;float:left" >
  <a href="/earthquakes_near_location"><button type="button" class="btn btn-success btn-lg" name="login">Search earthquakes near location</button></a>
</div>



<div class="container"style="margin-top:100px;float:left" >
 <a href="/clusters"><button type="button" class="btn btn-success btn-lg" name="login">Search clusters</button></a>
</div>




<div class="container"style="margin-top:100px;float:left" >
  <a href="/large_mag"><button type="button" class="btn btn-success btn-lg" name="login">Search large mag</button></a>
</div>


-->















<br>
<footer class="foot">
    <div class="container-fluid foot_div">
        <p class="h6 foot_text">Copyright &copy;2021 All rights reserved | This template is made with &#x1F498;by <span id="name">Aiman Abdullah</span> </p>
    </div>


</footer>
  </body>
</html>
